body {
  background-color: black;
}

.App {
  text-align: center;
  background-color: black;
  color: black;

}

img {
  display: block;
  visibility: hidden;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -0%);
}

img.selected {
  visibility: visible;
}

img.banner {
  top: auto;
  bottom: 2%;
  visibility: visible;
}

img.prostPoster {
  top: 40%;
  transform: translate(-50%, -50%);
  visibility: visible;
}

p {
  display:block;
  visibility: hidden;
  color: white;
  font-size: 300%;
}

p.banner {
  width: 95%;
  position: absolute;
  left: 50%;
  bottom: 13%;
  transform: translate(-50%, 50%);
  visibility: visible;
}

iframe {
  visibility: hidden;
}

iframe.weather {
  visibility: visible;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -10%);
  border: 0;
  overflow: hidden;
  /* width: 800px; // max recommended width*/
  width: 1000px;
  /* height: 592px; //full height with the weather graph*/ 
  height: 120px; /*reduce height to not display all info. not enough space for that*/
}